.viewBtn {
  background-color: #6a65ff;
  text-decoration: none;
  color: black;
  border: none;
  transition: ease-in-out 100ms;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewBtn:hover {
  background-color: #514cdb;
}